/*Background*/
body {
    background: url("Pictures/20200416125939_1.jpg") center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Text Field Style*/
input, textarea {
    color: #000000;
}

input { 
    margin: 8px;
}

textarea {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

/*Medias Queries*/
@media screen and (max-width: 700px) {
    body {
        background-size: 230% 100%;
    }
}