
/*Background*/
body {
    background: url("Pictures/20200324165648_1.jpg") center;
    background-repeat: no-repeat;
    background-size: 230% 100%;
}

/*Button Style*/
button {
    background-color: #ACACAC;
    border-radius: 4px;
    margin: 20px;
    padding: 5px;
}

a {
    color: #000000;
}

/*Medias Queries*/
@media screen and (min-width: 700px) {
    body {
        background-size: 100% 100%;
    }
}
